name: test
on:
  - push
  - workflow_dispatch
permissions:
  id-token: write
jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      # NB octo-sts will get the identity policy from the default branch of the
      #    scope repository. in this case, from the file at:
      #     https://github.com/rgl-example/github-octo-sts-example/blob/main/.github/chainguard/playground.sts.yaml
      - name: Create the token
        uses: octo-sts/action@v1.0.3
        id: octo-sts-example
        with:
          scope: rgl-example/github-octo-sts-example
          identity: playground
      - name: Use the token to list repositories
        env:
          GITHUB_TOKEN: ${{ steps.octo-sts-example.outputs.token }}
        run: |
          exec 2>&1
          set -euxo pipefail
          gh repo list
      # NB this stores the credentials in the .git/config file as:
      #     [http "https://github.com/"]
      #       extraheader = AUTHORIZATION: basic <base64(x-access-token:<GITHUB_TOKEN>)>
      # see https://docs.github.com/en/apps/creating-github-apps/authenticating-with-a-github-app/authenticating-as-a-github-app-installation
      - name: Use the token to checkout rgl-example/github-octo-sts-example
        uses: actions/checkout@v6
        with:
          repository: rgl-example/github-octo-sts-example
          path: github-octo-sts-example
          token: ${{ steps.octo-sts-example.outputs.token }}
      - name: List the checked out files
        run: |
          exec 2>&1
          set -euxo pipefail
          find github-octo-sts-example -type f -print0 | xargs -0 ls -laF
      - name: Push a git commit
        run: |
          exec 2>&1
          set -euxo pipefail
          b="test-$GITHUB_RUN_ID-$GITHUB_RUN_ATTEMPT"
          pushd github-octo-sts-example
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git remote -v
          git config --list --show-origin
          git checkout -b "$b"
          cat >test.txt <<EOF
          This file was created by the $GITHUB_WORKFLOW workflow in the $GITHUB_REPOSITORY repository.
          EOF
          git add .
          git commit -m "test commit"
          # NB in the github ui, the push author will appear as octo-sts[bot]
          #    because the token was created by the octo sts app; the token is
          #    actually a github app installation access token.
          git push origin "$b"
          popd
